<div class="container">
  <form>
    <div>
      <label>ID</label>
      <input type="text" [(ngModel)]="produto.id" name="id" disabled>
    </div>

    <div>
      <label>Descrição</label>
      <input type="text" [(ngModel)]="produto.descricao" name="descricao">
    </div>

    <div>
      <label>Preço</label>
      <input type="number" [(ngModel)]="produto.preco" name="preco">
    </div>

    <button type="button" (click)="salvar()">Salvar</button>
  </form>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>DESCRIÇÃO</th>
        <th>PREÇO</th>
        <th>AÇÕES</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let p of produtos" >
        <td>{{ p.id}}</td>
        <td>{{ p.descricao}}</td>
        <td>{{ p.preco}}</td>
        <td>
          <button (click)="editar(p)">Editar</button>
          <button (click)="excluir(p.id!)">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>
